PORT=8080
LOG_LEVEL=debug
DSS_BASE_URL=http://localhost:8001
OAUTH_ENDPOINT=http://localhost:8085/token
OAUTH_SUB=uss5
USS_BASE_URL=http://host.docker.internal:8080

# OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
# DSS_IMPL=memory
# TOKEN_IMPL=memory
